.hero {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 75%;
  max-height: 300px;
}
.mat-dialog-actions {
  // background-color: lightgray;
}
.submit {
  width: 100%;
  height: 3em;
}
