<section class="header">
  <h2 class="name">{{ category.name }}</h2>
  <p class="description">{{ category.description || "" }}</p>
</section>
<section class="menus">
  <ul>
    <li *ngFor="let menu of category.items; index as i">
      <a class="menu-card" [routerLink]="['..', menu.slug]">
        <div class="text">
          <h4 class="name">{{ menu.name }}</h4>
          <p class="description">{{ menu.description }}</p>
          <p class="price">{{ menu.price | currency }}</p>
        </div>
        <div class="image" style.background-image="url({{ menu.image }})"></div>
      </a>
    </li>
  </ul>
</section>
