:host {
  display: flex;
  height: 150px;
  cursor: pointer;
}

p {
  margin: 0;
}
.text {
  flex: 1 1 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.3em;
}
.description {
  font-size: 0.85em;
  color: gray;
}
.price {
  margin-top: auto;
}
.image {
  flex: 0 0 150px;
  background-color: rgb(240, 240, 240);
}
