<header>
  <h1>환영합니다, {{ username$ | async }} 님!</h1>
  <p>오늘 주문 가능한 가게는 {{ length$ | async }}개 입니다.</p>
</header>
<mat-card *ngFor="let shop of list$ | async">
  <img mat-card-image [src]="shop.hero" [routerLink]="shop.id" />
  <mat-card-content>
    <h3 [routerLink]="shop.id">{{ shop.name }}</h3>
    <div>
      <p>이 메뉴는</p>
      <span class="prop" *ngIf="shop.due as due"
        ><mat-icon>timer</mat-icon> 주문 마감까지 {{ getRemainingTime(due) }}분
        남았어요</span
      >
      <span class="prop" *ngIf="shop.eta as eta"
        ><mat-icon>moped</mat-icon> 배달이 {{ eta }} 정도 걸려요</span
      >
      <span class="prop" *ngIf="shop.ordered_users as users"
        ><mat-icon>people</mat-icon> {{ users.length }}명이 주문했어요</span
      >
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="shop.id" mat-raised-button color="primary">메뉴 확인</a>
    <button mat-stroked-button color="primary">주문한 사람들</button>
  </mat-card-actions>
</mat-card>
