<!-- {{ group | json }} -->
<ng-container [ngSwitch]="group.multiple">
  <div formArray="formArray" *ngSwitchCase="true">
    <mat-checkbox
      class="selection"
      *ngFor="let control of formArray.controls; let i = index"
      [formControl]="control"
      >{{ group.subchoices[i].name }}</mat-checkbox
    >
  </div>
  <mat-radio-group *ngSwitchDefault [(ngModel)]="result">
    <mat-radio-button
      class="selection"
      *ngFor="let subchoice of group.subchoices; let i = index"
      [value]="subchoice.id"
      [checked]="i === 0"
      >{{ subchoice.name }}, {{ i === 0 }}</mat-radio-button
    >
  </mat-radio-group>
</ng-container>

<p>result: {{ result | json }}</p>
<p>result2: {{ result2 | json }}</p>
<p>formArray: {{ formArray.value | json }}</p>
