.mat-card {
  margin: 1em 0;
}
.prop {
  display: block;
}
.mat-icon {
  font-size: 20px;
  vertical-align: -0.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 2em 0;
}
