.selection {
  display: block;
  margin: 6px 0;
}

.price-change {
  color: #ff4081;
  font-size: 0.9em;
  &::before {
    content: " ";
    white-space: pre;
  }
}

.info {
  padding: 0.3em;
  display: block;
  text-align: center;
  background-color: #f5f5f5;
  font-weight: bold;
  &.invalid {
    color: #ff4081;
  }
}
