<mat-card [ngSwitch]="group.multiple">
  <h2>{{ group.name }}</h2>
  <div formArray="formArray" *ngSwitchCase="true">
    <mat-checkbox
      class="selection"
      *ngFor="let control of ac.controls; let i = index"
      [formControl]="control"
      [value]="group.subchoices[i].slug"
      >{{ group.subchoices[i].name }}</mat-checkbox
    >
  </div>
  <mat-radio-group *ngSwitchDefault [formControl]="ac">
    <mat-radio-button
      class="selection"
      *ngFor="let subchoice of group.subchoices; let i = index"
      [value]="[subchoice.slug]"
      >{{ subchoice.name }}, {{ i === 0 }}</mat-radio-button
    >
  </mat-radio-group>
</mat-card>

<p>value: {{ ac.value | json }}</p>
